<div class="show_detail">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>First name:</strong>
	  <%= @author.first_name %>
	</p>

	<p>
	  <strong>Last name:</strong>
	  <%= @author.last_name %>
	</p>


		
	<button><%= link_to 'Edit', edit_author_path(@author) %></button> 
	<button><%= link_to 'Back', authors_path %></button>
</div>